<!DOCTYPE html >
<html lang="en">
<head>
    <title>BlogSite</title>
    <link rel="icon" href="logo.jpeg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> 
    <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css"> 
    <script src="bootstrap-4.4.1-dist/js/jquery.min.js" ></script>
    <script src="bootstrap-4.4.1-dist/js/popper.min.js" ></script>	
    <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script> 
    <script src="script.js"></script>
    <script src="lib/angular.min.js"></script>
    <link rel="stylesheet" href="style.css"> 
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.blogs = [{
                id: "one",
                title : "Node As Service",
                body : "StrongBlock, which pioneered Nodes-as-a-Service (NaaS) by rewarding node creators for their participation, is excited to announce it will be upgrading its NaaS DApp platform to the Stronger (STRNGR) token on April 5, 2022, Pacific Time. For several hours prior to the upgrade, claiming of STRONG will be disabled. This will be announced on Twitter, on the Website, and in the DApp.     STRONG within the NaaS DApp platform will be automatically upgraded to STRNGR on a 1:1 basis. No action will be required by anyone already participating in the platform.     After the upgrade is complete, STRNGR will replace STRONG as the token used to create nodes within the NaaS DApp in current and upcoming protocols, as well as the reward token for the NaaS DApp",
                image : "blog1.jfif"
            },
            { 
                id: "two",
                title : "Machine Learning",
                body : "Machine learning interviews cover a wide range of skills such as coding, machine learning, probability/statistics, research, case studies, presentations, etc. One of the important machine learning interviews is the system design interview. The ML system design interview analyzes the candidate’s skill to design an end-to-end machine learning system for a given use case",
                image : "blog2.jfif",
            },
            {
                id: "three",
                title : "Artificial Intelligence (AI) and Big Data",
                body : 'AI is nothing but intelligence that learns, re-learns, and reinforces its learning through the data that it gets. This data can either be specifically fed into the modes or designed to collect this data independently. Hence, the volume and quality of data are extremely important in determining the efficacy and relevance of AI for any purpose. Big data is a new form of information asset, and it requires massive processing models and the right computing muscle to take care of its flow, velocity, scale, and density. For Big Data to expand and extend human intelligence through AI, we would need to master many dimensions of Big Data. They would include, but would not be limited to, speech recognition, IoT and sensor data, image recognition, unstructured data, and real-time data of many formats.',
                image : "blog3.jfif"
            },
            {
                id: "four",
                title : "What is Natural Language Processing (NLP)",
                body : 'It combines the power of human and machine, to solve the complex problems into simple solutions. Which consist the great combination of computer science to study the rules of of language, and create intelligent systems (run on machine learning and NLP algorithms) capable of understanding, analyzing, and extracting meaning from text and speech.NLP is a field of Artificial Intelligence(AI) which converts the human language into machine language. Which works with different aspects like syntax, semantics, pragmatics, and morphology etc.The Gmail contains Promotions, Social, Primary, or Spam, here every message is been separated so properly with the help of keyword extraction where it extracts the word and find its relevant place, and store the mails only by reading the single word out of the entire mail.',
                image : "blog4.jfif"
            }];
            $scope.fname = "hey";
        });
    </script>
</head>
<body>
    <div class="container mt-3">
        <div id="heading">
            BLOG SITE
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    Blogs
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">My Blogs</a>
                        <a class="dropdown-item" href="newBlog.html">Add New Blog</a>
                    </div>
                </div>
            </li>
        </ul>   
    </div> 
    <div id="carouselExIndicators" class="carousel slide container mt-2" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="Qblog1.png" class="d-block w-100" height="400">
            </div>
            <div class="carousel-item">
                <img src="Qblog2.jpeg" class="d-block w-100" height="400">
            </div>
            <div class="carousel-item">
                 <img src="Qblog3.jpeg" class="d-block w-100" height="400">
            </div> 		
            <div class="carousel-item">
                <img src="Qblog4.png" class="d-block w-100" height="400">
           </div> 	
           <div class="carousel-item">
                <img src="Qblog5.png" class="d-block w-100" height="400">
            </div> 		
        </div>
        <a class="carousel-control-prev" href="#carouselExIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div  ng-app="myApp" class="container mt-3" ng-controller="myCtrl">
        <div class="card" ng-repeat="blog in blogs">
            <div class="card-body">
                <img src={{blog.image}}>
                <h3 class="card-title"> {{ blog.title }} </h3>
                <div class="card-text">                    
                    {{ blog.body.split('.')[0] }}
                </div>
                <input class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{blog.id}}" value="Read More">
                <div id="{{blog.id}}" name = "fullBlog" class = "collapse "> 
                    <span ng-repeat="line in blog.body.split('.')">{{line}}</span>{{blog.body}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>